<nav class="navBar" id="navBar">
    <img class="logo" src="/images/BigBeill-logo_black.png" alt="Beill Greenhouse Logo">

    <h3>Find Recipes</h3>
    <a href="/index">Public</a>
    <a href="/index">Friends</a>
    <a href="/index">Search</a>

    <h3>Your Recipes</h3>
    <a href="/index">Personal</a>
    <a href="/index">Saved</a>

    <h3>Account</h3>
    <a href="/user/login">Login</a>
    <a href="/user/register">Create Account</a>

    <div class="thumbButton" id="thumbButton"></div>
</nav>