<head>
    <link rel="stylesheet" href="/styles/nav.css" />
</head>

<nav class="navBar" id="navBar">
    <img class="logo" src="/images/BigBeill-logo_black.png" alt="Beill Greenhouse Logo">

    <h3>Find Recipes</h3>
    <a href="/index">Public</a>
    <a href="/index">Following</a>
    <a href="/index">Search</a>

    <% if (user) { %>
        <h3>Your Recipes</h3>
        <a href="/index">Personal</a>
        <a href="/index">Saved</a>
        <a href="/recipe/new">New Recipe</a>

        <h3>Social</h3>
        <a href="/user/friends">Friends</a>
    <% } %>

    <h3>Account</h3>
    <% if (user) { %>
        <a href="/user/profile">Profile</a>
    <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/register">Create Account</a>
    <% } %>

    <div class="thumbButton" id="thumbButton"></div>
</nav>