<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="https://kit.fontawesome.com/fdb6462a7b.js" crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
</head>
<body>
    <div class="pageContainer">
    <%- include('../partials/navBar.ejs')  %>
    
    <div class="mainDiv">
    
        <%- include('../partials/searchBar.ejs') %>
        <%- body %>
    </div>
    </div>
</body>
</html>