PORT=
CORS_ORIGIN=

MONGOOSE_URL=

POSTGRES_DB_HOST=
POSTGRES_DB_USER=
POSTGRES_DB_DATABASE=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

UPLOADS_DIRECTORY=

RESEND_API_KEY=