
<head>
    <title>Beill's Greenhouse - Home</title>
    <script defer src="/scripts/viewSpecific/index.js"></script>
</head>

<body>

    <h1>Recipes</h1>

    <div class="recipesDisplayContainer">
    <% if (recipes) { %>
        <% recipes.forEach(recipe => { %>
            <div class="recipe">
                <div class="recipeImage">
                    <!--
                        TODO
                        palceholder icon: eventually add photos to database per receipe to be displayed in the icons place.
                        or 
                        have a dropdown for each recipe to choose a potential categorical icon to be associated with it for a more streamlined experience
                    -->
                    <i class="fa-solid fa-bowl-food"></i>
                </div>
                <a class="recipeTitle">
                    <%= recipe.title %>
                </a>
            </div>
        <% })} %>
    </div>
</body>