<head>
    <title>Beill's Greenhouse - Home</title>
    <script defer src="/scripts/viewSpecific/index.js"></script>
</head>

<body>
    <% if (recipes) { %>
    <% recipes.forEach(recipe => { %>
        <div><%= recipe.title %></div>
    <% })} %>
    
</body>