
<head>
    <title>Beill's Greenhouse - Home</title>
    <script defer src="/scripts/index.js"></script>
</head>

<body>
    <div class="searchBar" id="searchBar">
        <i class="fa-solid fa-magnifying-glass" style="color: #065f46;"></i>
        <input id="testing" type="text" name="search term" placeholder="Search">
    </div>

    <p>Hello world - Home page</p>

    <% if (recipes) { %>
    <% recipes.forEach(recipe => { %>
        <div><%= recipe.title %></div>
    <% })} %>
    
</body>