
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beill's Greenhouse - Home</title>

</head>

<body>

    <p>Hello world - Home page</p>

    <% if (recipes) { %>
    <% recipes.forEach(recipe => { %>
        <div><%= recipe.title %></div>
    <% })} %>
    
</body>