<head>
    <title>Beill's Greenhouse - Login</title>
    <script defer src="/scripts/viewSpecific/newRecipe.js"></script>
</head>

<body>
    <div class="pageContentTypeA centred" id="recipeForm">
        <h1>Create Recipe</h1>
        <div class="splitSpace">
            <div>
                <div class="textInput">
                    <label for="recipeName">Recipe Name</label>
                    <input
                    type = "text"
                    name="recipeName" 
                    id="recipeName" 
                    placeholder="Recipe Name">
                    <span class="error hidden">No name given</span>
                </div>
                <div class="textInput">
                    <label for="description">Description</label>
                    <input
                    type = "text"
                    name="description" 
                    id="description" 
                    placeholder="Description">
                    <span class="error hidden">No description given</span>
                </div>
            </div>
            <div class="void"></div>
        </div>

        <!-- im kind of just throwing this in, move around later -->
        <label for="image">Choose a image:</label>
        <select name="image" id="image">
            <% imageOptions.forEach((option) => { %>
                <option value="<%=option%>"> <%=option%> </option>
            <% }) %>
        </select>


        <div class="splitSpace">
            <div class="buttonInput">
                <input 
                type="submit" 
                name="Submit" 
                id="submitButton"
                value="Create"
                />
            </div>
            <div class="void"></div>
        </div>
    </div>
</body>