<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beill's Greenhouse</title>
    <script defer src="/scripts/main.js"></script>
    <script difer src="/scripts/profile.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
</head>
<body>
    <nav id="navBar"></nav>
    <div class="mainDiv">
        <p id="userName">username: <%= profileInfo[0].userName %> </p>
        <p id="email">email: <%= profileInfo[0].email %> </p>
    </div>
</body>
</html>