<head>
    <title>Beill's Greenhouse - Login</title>
    <script defer src="/scripts/login.js"></script>
</head>

<body>
  <div class="pageContentTypeA centred" id="loginForm">
    <h1>Login</h1>
    
    <div class="textInput">
      <label for="uname">Username</label>
      <input 
      type="text" 
      name="userName" 
      id="uname" 
      placeholder="Your Username"
      />
      <span class="error hidden">No username given</span>
      <span class="error hidden">Username not found</span>
    </div>
    <div class="textInput">
      <label for="password">Password</label>
      <input 
      type="password" 
      name="password" 
      id="password" 
      placeholder="Your Password" 
      />
      <span class="error hidden">No password given</span>
      <span class="error hidden">Incorrect password</span>
    </div>
    <div class="splitSpace">
      <div class="buttonInput">
        <input 
        type="submit" 
        name="Submit" 
        id="submitButton"
        value="Login"
        />
      </div>
      <div class="checkboxInput">
        <div>
          <input type="checkbox"
          name="remember me" 
          id="remember" 
          value="1"/>
          <label for="remember">Remember Me</label>
        </div>
      </div>
    </div>



    
  </div>
</body>