// Brand Colors
$color-primary: #7C4F2C; // AA on #FAF9F6
$color-secondary: #495434; // AAA on #FAF9F6
$color-trinary: #F5E6CC; // only to be used on dark backgrounds where AA can be achieved

// Neutrals
$color-background: #FAF9F6;
$color-text: #2C1A1D;
