.notebook {
  $normalTextColor: #575757;
  $darkTextColor: #4a4a4a;


  position: absolute;
  display: flex;
  margin: .3rem 1.5rem;
  padding: 3rem, 3rem, 3rem, 3rem;
  gap: .6rem;
  width: 75rem;
  height: calc(100% - 1.8rem);
  left: calc(50% - 1.5rem);
  transform: translate(-50%, 0%);
  color: $normalTextColor;

  .notebookPage {
    width: calc(50% - .3rem);
    height: calc(100% - .9rem);
    background-color: #f6eee3;
    box-shadow: 0.09rem 0.09rem 0.3rem #2C1A1D;

    &:first-child {
      margin-top: .3rem;
      padding: .9rem 2.4rem .9rem 1.2rem;
      border-radius: 2.5rem .15rem .15rem 2.5rem;
    }

    &:last-child {
      padding: .9rem 1.2rem .9em 2.4rem;
      border-radius: .15rem 2.5rem 2.5rem .15rem;
    }

  }

  .pageContent{
    margin: 0rem;
    width: 100%;
    height: calc(100% - 4.5rem);
    display: flex;
    flex-direction: column;
  }

  .notebookSpine {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
  }

  @media (max-width: 78rem) {
    
    margin-left: 1.5rem;
    left: 0%;
    transform: translate(0%, 0%);
    transition: margin-left .3s ease-in-out;

    &.displayRight{
      margin-left: calc(100% - 76.5rem);
    }

  }

  .arrowIcon {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    height: 4.5rem;
    width: 6rem;
    
    :hover {
      cursor: pointer;
    }

    &.right{
      right: 0;
    }

    .arrow{
      height: 100%;
      color: $darkTextColor;
    }
  }

  .clickAndDragList {
    height: calc(100% - 3.6rem);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h1{
    margin: 3rem 3rem 3rem 3rem;
    color: $darkTextColor;
    text-decoration: underline #065F46;
  }

  h2{
    margin: 1.2rem .9rem;
  }

  h4{
    margin-bottom: .3rem;
  }

  p {
    margin: 0rem;
  }
}