.paginationBar {
   display: flex;
   justify-content: center;
   gap: 0.6rem;
   margin-bottom: 1.5rem;

   * {
      display: flex;
      margin: 0rem;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.3rem;
      border: none;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color);
      box-sizing: border-box;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

      &.primaryBlock {
         border: 0.18rem solid var(--base-color);
         pointer-events: none;
      }
   }
}