.folder {
   position: relative;
   height: 12rem;
   width: 24rem;

   .userCards {
      position: relative;
      height: 100%;
      width: 100%;
      clip-path: polygon(0rem -6rem, 24rem -6rem, 24rem 4.5rem, 3rem 4.5rem);

      > div {
         font-size: 0.5rem;
         position: absolute;
         transform: rotate(-80deg);
         width: 24em;
         height: 12em;
         box-sizing: border-box;

         &:nth-child(1) {
            bottom: 6em;
            left: 1.5em;
         }

         &:nth-child(2) {
            bottom: 6em;
            left: 10.5em;
         }

         &:nth-child(3) {
            bottom: 6em;
            left: 19.5em;
         }
      }
   }

   .folder{
      position: absolute;
      margin-bottom: -1rem;
      width: 50%;
      height: 100%;
      bottom: 0;
      left: 6rem;
      font-size: 12rem;
      line-height: 1;
      color: var(--primary-color);
      transform: scale(1.35, 1);

      &:hover {
         cursor: pointer;
      }
   }

   .folderCover{
      position: absolute;
      margin: 0;
      width: 50%;
      height: 50%;
      bottom: 1.5rem;
      left: 25%;
      color: var(--background-color);
      font-size: 2.4rem;
      pointer-events: none;
   }
}