<head>
    <title>Beill's Greenhouse - Profile</title>
    <script defer src="/scripts/viewSpecific/user/profile.js"></script>
</head>

<body>
    <div class="pageContentTypeB">
        <div>
            <h1>Profile</h1>
            <div class="displayData">
                <p>Username:</p>
                <p><%= username %></p>
            </div>
            <div class="displayData">
                <p>Email:</p>
                <% if(email){ %>
                    <p><%= email %></p>
                <% } else{ %>
                    <p class="softText">Not Provided</p>
                <% } %>
            </div>

            <div class="buttonInput">
                <input 
                type="logout" 
                name="logout" 
                id="logoutButton"
                value="Logout"
                />
            </div>
        </div>
        <div class="recipesDisplayContainer">
            <% console.log(recipes) %>
            <% if(recipes){ %>
                <% recipes.forEach((recipe) => { %>
                    <%- include('../partials/pin.ejs', { recipe: recipe }) %>
                <% }) %>
            <% } else{ %>
                <p class="softText">no owned recipes</p>
            <% } %>
        </div>
    </div>
</body>