.error {
   margin: 1.2rem 0.6rem;
   padding: .3rem !important;
   padding-left: .9rem !important;
   border: .1rem solid #991b1b;
   border-radius: .3rem;
   background-color: rgb(153, 27, 27, .5);

   p {
      margin: 0rem;
   }

   ul {
      margin: 0rem;
      padding: 0rem 0.6rem;

      li {
         margin: 0.3rem 0rem;
      }
   }
}