.wrapper {
   height: 100%;
   width: 100%;
}

.text {
   margin: 0rem !important;
   padding: 0rem;
   max-height: 100%;
   width: max-content ;
   max-width: 100%;
   display: inline-block;
   text-wrap: wrap;
   text-decoration: none;
}