.pin{
    display: flex;
    width: 100%;
    height:11rem;
    padding: 1rem;
    margin: 0rem 0rem 0.6rem 0.6rem;
    background-color: transparent;
}

.pin-inner{
    display: flex;
    font-size: 1rem;
    border-radius: .9rem;
    border: .12rem solid #065F46;
    box-shadow: .06rem .06rem .09rem #2C1A1D;
    width:100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.pin-front, .pin-back{
    display: flex;
    border-radius: .9rem;
    border: .12rem solid #065F46;
    width:100%;
    height:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.recipeImage{
    font-size:7rem;
}
.recipeTitle{
    font-size:2rem;
}

.pin-front{
    background-color: white;
}
.pin-back{
    transform: rotateX(180deg);
    background-color: white;
}

.pin:hover .pin-inner{
    transform: rotateX(180deg);
}
