<body>
    <!-- im am not spending a lot of time making this look good. im open to everything on this .ejs file being changed. -->

    <div>
        <a href = "Requests">Friend Requests</a>
        <a href = "search">Find Friends</a>
    </div>
</body>