<head>
    <title>Beill's Greenhouse - Friend Requests</title>
    <script> var input = JSON.parse('<%- JSON.stringify(requests) %>') </script>
    <script defer src="/scripts/viewSpecific/user/freinds/requestList.js"></script>
</head>

<body>
    <!-- no solid css added -->
    <div id="usernameSection">

    </div>
</body>