<head>
    <title>Beill's Greenhouse - Friends</title>
    <script defer src="/scripts/viewSpecific/searchFriends.js"></script>
</head>

<body>
    <!-- im am not spending a lot of time making this look good. im open to everything on this .ejs file being changed. -->

    <div>
        <div class="searchBar" id="friendsSearchBar">
            <i class="fa-solid fa-magnifying-glass" style="color: #065f46;"></i>
            <input id="friendsSearchInput" type="text" name="freinds search bar" placeholder="Enter search">
        </div>
        <div>
            <input id="friendsSearchSubmit" type="button" name="submit search" value="Search">
        </div>
    </div>

    <div id="usernameSection">
        <!-- div will be filled in by the js once search has been made --> 
    </div>
</body>