:root{
    font-size: 16px;
    font-family: verdana;
    background-color: #f5f8fa;
}

body{
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h3 {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
    font-weight: 100;
    font-size: 24px;
}





/* css for nav */

nav{
    position: fixed;
    top: 0;
    width: 12rem;
    height: 100%;
    border-right: 0.3rem solid #065f46;
    box-shadow: 0.03rem 0.03rem 0.3rem #2C1A1D;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.mainDiv{
    padding-left: 12.3rem;
    width: auto;
    height: auto;
}

nav a{
    margin-left: 1.5rem;
    padding: .3rem;
    padding-left: .6rem;
    border-left: .09rem solid #2C1A1D;
    font-size: 18px;
    color: #2C1A1D;
    text-decoration: none;
}

nav a:hover{
    margin-left: 1.5rem;
    padding: .3rem;
    padding-left: .9rem;
    font-size: 18px;
    color: #2C1A1D;
    text-decoration: none;
    text-shadow: 1px 0px 0px #2C1A1D;
}





/* css for fieldsets */

.fieldsetTypeA {
    width: 100%;
    max-width: 46rem;
    margin: .3rem;
    margin-top: 3rem;
    box-sizing: border-box;
    border: none;
    border-top:0.09rem solid #2C1A1D;
}

.fieldsetTypeA legend {
    margin-left: 3rem;
    margin-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
    border-left:.09rem solid #2C1A1D;
    border-right:.09rem solid #2C1A1D;
    font-size: 30px;
}





/* css for inputs */

.textInput, .buttonInput, .checkboxInput{
    width: 100%;
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.checkboxInput div{
    width: 100%;
    padding: .3rem;
    padding-left: .9rem;
    padding-right: .9rem;
    box-sizing: border-box;
    border-radius: .6rem;
    border: .06rem solid #C8C8C8;
    box-shadow: .06rem .06rem 0.09rem #2C1A1D;
    background-color: #ffffff;
}

.buttonInput input:hover, .checkboxInput div:hover, .checkboxInput input:hover, .checkboxInput label:hover{
    cursor: pointer;
}

.textInput input{
    width: 100%;
    padding: .3rem;
    padding-left: .9rem;
    padding-right: .9rem;
    box-sizing: border-box;
    border-radius: .6rem;
    border: .06rem solid #C8C8C8;
    box-shadow: .06rem .06rem 0.09rem #2C1A1D;
    line-height:18px;
}

.buttonInput input{
    width: 100%;
    padding: .36rem;
    box-sizing: border-box;
    border-radius: .6rem;
    border: none;
    box-shadow: .09rem .09rem 0.09rem #2C1A1D;
    color: #f5f8fa;
    background-color: #065f46;
    font-size: 16px;
    line-height:18px;
}

.checkboxInput input{
    accent-color: #065f46;
}

.textInput input:focus, .buttonInput input:active, .checkboxInput div:active{
    outline: none;
    box-shadow: none;
    margin-top: .06rem;
    margin-left: .06rem;
    margin-bottom: -.06rem;
    margin-right: -.06rem;
}

.textInput label{
    margin: .9rem;
}





.centred{
    margin-left: auto;
    margin-right: auto;
}

.splitSpace{
    display: flex;
    width:100%;
    margin: 0rem;
    padding: 0rem;
    gap:1rem;
}