// scss file for different methods of displaying data

.displayList {
   margin: 0rem;
   height: 100%;
   padding: 0rem;
   overflow-x: hidden;
   overflow-y: scroll;
   
   &.addPadding {
     padding: 3rem;
   }

   .listItemContainer{
      display: flex;

      .listItem {
         width: 100%;
      }

      .itemOptions{
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: .6rem;
         margin: 0rem .3rem;
         width: 1.2rem;

         svg:hover {
            cursor: pointer;
         }

         &.extraMargin{
            margin-top: 1.5rem;
         }
      }
   }
}

.displayUserInformationCards {
   box-sizing: border-box;
   margin: auto;
   width: 100%;
   height: 100%;
   padding: 3rem;
   display: inline-grid;
   grid-template-columns: repeat(auto-fill, 24rem);
   grid-auto-rows: 12rem;
   justify-content: center;
   gap: 1.5rem;
   grid-template-areas: "filterPanel" "filterPanel" "filterPanel";

   > div {
      border-radius: 0.15rem;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
      padding: 0.6rem;
      background-color: var(--background-color);
   }

   .filterPanel {
      grid-area: filterPanel;
      padding: 0.6rem 1.8rem;
   }

   .userPin{
      width: calc(100% - 1.2rem);
      height: calc(100% - 1.2rem);
      grid-template-columns: 16.8rem 6rem;
      grid-template-rows: 6rem 0.6rem 4.2rem;
      grid-template-areas: "username profile" "designArea designArea" "contactInformation actionIcons";

      > div:nth-child(3){
         margin-left: -0.6rem;
         width: calc(100% + 1.2rem);
         height: 100%;
         grid-area: designArea;
         background-color: var(--base-color);
         clip-path: polygon(0rem 0.3rem, 17.1rem 0.3rem, 17.4rem 0rem, 24rem 0rem, 24rem 0.6rem, 0rem 0.6rem);
      }

      > div:nth-child(4){
         margin-top: 0.6rem;
      }

      > div:nth-child(5){
         margin-top: 0.6rem;
      }
   }
}

.userPin { 
   display: grid;

   p{
      margin: 0;
   }

   img{
      width: 100%;
      height: 100%;
   }

   .contactInformation{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .15rem;
   }

   .icons{
      display: flex;
      justify-content: flex-end;
      gap: 0.6rem;

      svg{
         margin: auto 0;
         height: 50%;
   
         &:hover{
            cursor: pointer;
         }
      }
   }

   > div:nth-child(1):hover{
      cursor: pointer;
   }
   > div:nth-child(2):hover{
      cursor: pointer;
   }
}