// scss file for different methods of displaying data

.displayList {
   margin: 0rem;
   height: 100%;
   padding: 0rem;
   overflow-x: hidden;
   overflow-y: scroll;
   
   &.addPadding {
     padding: 3rem;
   }

   .listItemContainer{
      display: flex;

      .listItem {
         width: 100%;
      }

      .itemOptions{
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: .6rem;
         margin: 0rem .3rem;
         width: 1.2rem;

         svg:hover {
            cursor: pointer;
         }

         &.extraMargin{
            margin-top: 1.5rem;
         }
      }
   }
}

.displayUserInformationCards {
   box-sizing: border-box;
   margin: auto;
   width: 100%;
   height: 100%;
   padding: 3rem;
   display: inline-grid;
   grid-template-columns: repeat(auto-fill, 24rem);
   grid-auto-rows: 12rem;
   justify-content: center;
   gap: 1.5rem;
   grid-template-areas: "filterPanel" "filterPanel" "filterPanel";

   .filterPanel {
      padding: 0.6rem;
      border-radius: 0.15rem;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
      background-color: var(--background-color);
      grid-area: filterPanel;
      padding: 0.6rem 1.8rem;
   }
}

.userPin {
   padding: 0.6em;
   width: calc(100% - 1.2em);
   height: calc(100% - 1.2em);
   background-color: var(--background-color);
   border-radius: 0.15em;
   box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   display: grid;
   grid-template-columns: 16.8em 6em;
   grid-template-rows: 6em 0.6em 4.2em;
   grid-template-areas: "username profile" "designArea designArea" "contactInformation actionIcons";

   p{
      margin: 0;
   }

   img{
      width: 100%;
      height: 100%;
   }

   .contactInformation{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .15em;
   }

   .icons{
      display: flex;
      justify-content: flex-end;
      gap: 0.6em;

      svg{
         margin: auto 0;
         height: 50%;
   
         &:hover{
            cursor: pointer;
         }
      }
   }

   > div:nth-child(1):hover{
      cursor: pointer;
   }
   > div:nth-child(2):hover{
      cursor: pointer;
   }

   > div:nth-child(3){
      margin-left: -0.6em;
      width: calc(100% + 1.2em);
      height: 100%;
      grid-area: designArea;
      background-color: var(--base-color);
      clip-path: polygon(0em 0.3em, 17.1em 0.3em, 17.4em 0em, 24em 0em, 24em 0.6em, 0em 0.6em);
   }

   > div:nth-child(4){
      margin-top: 0.6em;
   }

   > div:nth-child(5){
      margin-top: 0.6em;
   }
}

.displayUserData {
   margin: auto;
   margin-top: 3rem;
   width: fit-content ;
   padding: 2.4rem 1.5rem;
   box-sizing: border-box;
   border-radius: 0.15rem;
   background-color: var(--background-color);
   box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   display: grid;
   grid-template-columns: 30rem 12rem;
   grid-template-rows: 12rem 0.6rem 18rem 0.6rem 3.9rem;
   grid-template-areas: 
      "title image" 
      "designLineOne designLineOne" 
      "infoPanel bioPanel" 
      "designLineTwo designLineTwo" 
      "buttonPanel buttonPanel";

   
   > div:nth-child(3){
      grid-area: designLineOne;
      background-color: var(--base-color);
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
      clip-path: polygon(0rem 0.3rem, 31.2rem 0.3rem, 31.5rem 0rem, 46.8rem 0rem, 46.8rem 0.6rem, 0rem 0.6rem);
   }

   > div:nth-child(6){
      grid-area: designLineTwo;
      background-color: var(--base-color);
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
      clip-path: polygon(0rem 0rem, 46.8rem 0rem, 46.8rem 0.3rem, 31.5rem 0.3rem, 31.2rem 0.6rem, 0rem 0.6rem);
   }

   > div:nth-child(7){
      margin-top: 1.5rem;
      grid-area: buttonPanel;
   }
}

.displayFolder {
   position: relative;
   width: 24rem;
   height: 12rem;

   .userCards {
      position: relative;
      width: 100%;
      height: 100%;
      clip-path: polygon(0rem -6rem, 24rem -6rem, 24rem 4.5rem, 3rem 4.5rem);
   }

   .cardContainer {
      font-size: 0.5rem;
      position: absolute;
      transform: rotate(-80deg);
      width: 24em;
      height: 12em;
      box-sizing: border-box;

      &:nth-child(1) {
         bottom: 6em;
         left: 1.5em;
      }

      &:nth-child(2) {
         bottom: 6em;
         left: 10.5em;
      }

      &:nth-child(3) {
         bottom: 6em;
         left: 19.5em;
      }


   }

   .folder{
      position: absolute;
      margin-bottom: -1rem;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      font-size: 12rem;
      line-height: 1;
      color: var(--base-color);
      transform: scale(1.35, 1);

      &:hover {
         cursor: pointer;
      }
   }

   .folderCover{
      position: absolute;
      margin: 0;
      width: 50%;
      height: 50%;
      bottom: 1.5rem;
      left: 25%;
      color: var(--background-color);
      font-size: 2.4rem;
      pointer-events: none;
   }
}