.notebook{
  $darkText: #4a4a4a;

  .textInput {
    width: 100%;
    margin-bottom: 1.8rem;

    label {
      display: inline-block;
      width: 100%;
      margin-left: 4.8rem;
      margin-bottom: .36rem;
      font-size: 1.8rem;
      color: $darkText;
    }

    input, textarea {
      box-sizing: border-box;
      width: calc(100% - 9rem);
      margin: 0rem 4.5rem;
      padding: .03rem .48rem;
      background-color: #f6eee3;
      border: none;
      font-size: 1.2rem;
      color: $darkText;

      &:focus{
        outline: none;
      }

    }

    input {
      border-bottom: 1px solid $darkText;
    }

    textarea {
      border-left: 1px solid $darkText;
      border-right: 1px solid $darkText;
      margin-top: .3rem;
      padding-top: .3rem;
      resize: none;
    }

    &.center {
      text-align: center;
      label{
        margin-left: 0rem;
      }
      input {
        text-align: center;
      }
    }

    &.extraBottom {
      margin-bottom: 3rem;
    }

    &.shared .inputs{
      display: flex;
      gap: .6rem;
      margin: 0rem 4.5rem;

      input, select{
        margin: 0rem;
        width: 5.4rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $darkText;
        color: #4a4a4a;

        &.mainInput{
          width: 100%;
        }
      }
    }
  }

  .activeSearchBar {
    width: 100%;

    ul{
      position: absolute;
    }
  }

  option{
    color: #575757;

    &.light{
      color: #4a4a4a;
    }
  }

  button{
    width: calc(100% - 9rem);
    margin: 0rem 4.5rem;
    padding: .3rem .6rem;
    background-color: #f6eee3;
    font-size: 1.2rem;
    color: $darkText;
    border: 2px solid $darkText;
    border-radius: 3rem;
    transition: .15s ease-in-out;
    
    &:hover{
      color: #f6eee3;
      background-color: #575757;
      cursor: pointer;
    }
  }
}
