/* css for navBar */

nav{
  position: absolute;
  z-index: 1;
  height: 100vh;
  padding: 0rem .9rem;
  top: 0;
  width: 12rem;
  border-right: 0.3rem solid var(--base-color);
  box-shadow: 0.06rem 0.06rem 0.15rem #2C1A1D;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  h3{
    font-weight: 500;
  }

  .logo{
    margin-top: .9rem;
    margin-left: .3rem;
    margin-right: .3rem;
  }

  a, button {
    margin-left: 1.5rem;
    padding: .3rem;
    padding-left: .6rem;
    background-color: #ffffff;
    border: none;
    border-left: .09rem solid #2C1A1D;
    text-align: start;
    font-weight:100;
    color: #2C1A1D;
    text-decoration: none;
    transition: all 0.03s ease-in-out;

    &:hover {
      margin-left: 1.5rem;
      padding: .3rem;
      padding-left: .9rem;
      color: #2C1A1D;
      text-decoration: none;
      text-shadow: 0.3px 0px 0px #2C1A1D;
      cursor: pointer;
    }
  }

  .navButton {
    position: absolute;
    display: none;
    left: 13.8rem;
    width: 1.5rem;
    height: 3rem;
    background-color: var(--base-color);
    box-shadow: 0.06rem 0.06rem 0.15rem #2C1A1D;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 0rem .9rem .9rem 0rem;
  }
  
  @media (max-width: 93rem) {
    margin-left: -13.8rem;

    .navButton{
      display: inline;

      &:hover{
        cursor: pointer;
      }
    }

    &.open{
      margin-left: 0rem;
      
    }
  }
}