.notebookRecipe {
  display: flex;
  width: 100%;
  height: 12rem;
  border-top: .12rem solid #797979;
  border-bottom: .12rem solid #797979;

  .recipeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .9rem .3rem .9rem 0rem;
    width: calc(100% - 12rem);
  }

  h4 {
    margin: 0rem;
    font-weight: 500;
    font-size: 2rem;
    color: #575757;
    width: 100%;
  }

  .image {
    margin: 0rem;
    box-sizing: border-box;
    width: 12rem;
    height: 12rem;
    font-size: 8rem;
    border: .12rem solid #797979;
  }

  &:hover{
    cursor: pointer;
    transform: translateX(-.3rem);
    transition: .06s;

    h4 {
      color: #4a4a4a;
    }
  }
}

.noteBookPinContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  margin: 0rem;
  overflow: hidden;

  .noteBookPin{
    flex: 1;
    box-sizing: border-box;
    margin: -0.06rem 0rem;
    width: 100%;
    padding: 1.2rem;
    border-top: .12rem solid #797979;
    border-bottom: .12rem solid #797979;
    overflow: hidden;

    .title{
      width: 100%;
      height: 100%;
    }
  }
}
