// some very simple scss that lets the developer quickly throw some styling on for testing purposes.
// will be removed before production

.whiteBackground {
  margin: 1.5rem;
  padding: .3rem 1.5rem;
  background-color: white;
  border-radius: .3rem;
  box-shadow: 0.09rem 0.09rem 0.3rem #2c1a1d;
}